body {
    background: rgb(255, 212, 219);
}
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    font-style: italic;
}
p {
    font-weight: bold;
    font-size: 18px;
}

.card {
    border-radius: 8px;
}

.about-section {
background: #070707;
color: white;
margin: 16px;
padding: 32px;
width: 200px;
}


#my-hobbies {
    border: 8px solid rgb(47, 255, 47), 255); 
}